@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-image: url("../image/fullbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.signbox {
    width: 90%;
    max-width: 450px;
    position:absolute;
    height: 107%;
    top: 140px; /* Adjust the vertical position of the form */
    left: 70%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9); /* Set background color with opacity */
    border-radius: 10px;
    padding: 50px 60px 70px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); /* Add shadow to the border */
}
input{
    padding: 15px 10px;
    width: 50vh;
    font-family: Poppins , 'sans';
    border-radius: 10px;
    border-style: none;
    background-color: rgb(239, 244, 244);
}


button{
    margin: 10px;
    padding: 15px;
    width: 20vh;
    background-color: rgb(61, 150, 202);
    border-style: none;
    border-radius: 20px;
    font-size: 15px;
    color: aliceblue;
    font-family: Poppins , 'sans';
    transition: color 0.3s ease , background-color 0.3s ease;
}
button:hover{
    color:  rgb(20, 129, 192);
    background-color: rgb(237, 237, 237);
}
.click{
    text-decoration: none;
    color: rgb(14, 49, 207);
}
.success{
    background-color: rgb(75, 151, 223);
    padding: 10px;
    color:aliceblue;
    font-family:monospace;
    border-radius: 20px;
}
h3,h1{
    text-decoration: underline;
}
.image{
    margin-left: 10%;
margin-top: 10%;

}